@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

.App {
    background-color: #F5E0C8;
}

.container {
    padding: 50px 30px;
    height: 100vh;
    /* width: 100%; */
    position: relative;
}

.body-text {
    color: #0d0d0d;
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.subtitle {
    color: #0d0d0d;
    font-family: 'Josefin Sans';
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
}

.profile-img {
    border-radius: 100%;
    width: 350px;
    margin-bottom: 20px;
}