@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

.App {
  background-color: #dab08e;
}

/* ddc19f */

html {
  background-color: #dab08e;
  max-width: 100%;
}

.link {
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 28px;
  font-weight: 400;
  display: inline;
  padding-right: 10px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #33312f;
  cursor: pointer;
}

.header {
  width: 100%;
  padding-top: 10px;
  margin-right: 20px;
  position: fixed;
  top: 0%;
  background-color: #dab08e;
  z-index: 12;
}

.header-left {
  text-align: left;
  width: 50%;
  float: left;
  display: inline;
  padding-left: 10px;
}

.header-name {
  color: #0d0d0d;
  font-family: 'Josefin Sans';
  font-size: 28px;
  font-weight: 400;
  display: inline;
}

.header-title {
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 28px;
  font-weight: 400;
  display: inline;
  padding-left: 10px;
  display: inline;
}

.header-name,
.header-title:hover {
  cursor: pointer;
}

.header-nav {
  text-align: right;
  margin-left: 50%;
  width: 50%;
}

.container {
  padding: 50px 10%;
  height: 100vh;
  /* width: 100%; */
  position: relative;
}

.container2 {
  padding: 50px 10%;
  height: 80vh;
  /* width: 100%; */
  position: relative;
}

.body-text {
  color: #0d0d0d;
  font-family: 'Josefin Sans';
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  z-index: 9;
  position: relative;
}

.subtitle {
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #33312f;
  text-decoration-thickness: 4px;
  z-index: 9;
  position: relative;
  text-underline-offset: 5px;
}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0%;
}

.profile-img {
  border-radius: 100%;
  /* width: 475px; */
  height: 475px;
  opacity: 0.8;
}

.scroll-note {
  position: fixed;
  top: 80%;
  left: 40px;
  z-index: 10;
}

.scroll-word {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Josefin Sans';
}

.scroll-text {
  top: 79%;
  left: 75px;
  position: fixed;
}

.top {
  width: 100%;
  margin-top: 37px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  white-space: pre-wrap;
}

.name {
  color: #33312f;
  font-family: 'Josefin Sans';
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  padding-bottom: 20px;
  grid-row: 3;
  grid-column: 4 / 14;
  z-index: 10;
}

.job-title {
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 36px;
  font-weight: 400;
  grid-column: 10 / 21;
  grid-row: 17;
  z-index: 10;
  margin-left: 12px;
}

.cover-photo {
  grid-column: 1 / 21;
  justify-self: center;
  opacity: 0.8;
  max-width: 530px;
}

.work-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.8;
}

.work-img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}

.work-text {
  color: #0d0d0d;
  font-family: 'Josefin Sans';
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  z-index: 9;
  position: relative;
}

.work-text-mobile {
  color: #0d0d0d;
  font-family: 'Josefin Sans';
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.contact-link {
  color: #0d0d0d;
  font-family: 'Josefin Sans';
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  z-index: 9;
  /* position: relative; */
}

.about-text {
  margin-top: 150px;
}

.skills-header {
  margin-top: -10px;
  margin-bottom: 0px;
}

.contact-img {
  width: 60px;
}

.work-img-mobile {
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .container,
  .container2 {
    padding: 0px 10%;
  }

  .header {
    height: 30px;
  }

  .header-left {
    text-align: left;
    width: 100%;
    /* float: left; */
    /* display: inline; */
    padding-left: 10px;
  }

  .header-nav,
  .scroll-note {
    visibility: hidden;
  }

  .top {
    height: 100vh;
  }

  .cover-photo {
    height: 80vh;
  }

  .about-text {
    margin-top: auto;
    text-align: center;
  }

  .profile-img {
    border-radius: 100%;
    /* width: 100%; */
    height: 200px;
    opacity: 0.8;
  }

  .header-name,
  .header-title {
    font-size: 16px;
  }

  .name {
    font-size: 40px;
  }

  .job-title {
    font-size: 30px;
    font-weight: 400;
    grid-column: 10 / 21;
    grid-row: 12;
    z-index: 10;
    margin-left: 12px;
  }

  .subtitle {
    font-size: 30px;
  }

  .contact-img {
    width: 40px;
  }

  .work-text {
    font-size: 16px;
    text-align: left;
  }
}
