.link {
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 28px;
    font-weight: 400;
    display: inline;
    padding-right: 10px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #33312F;
    cursor: default;
}

.header {
    width: 100%;
    text-align: right;
    padding-top: 10px;
    margin-right: 20px;
}